<h3>Busca de alimentos</h3>
<table>
  <thead>
    <tr>
      <th colspan="4">
        <label class="item item-input">
				<input type="text" placeholder="Alimento" ng-model="consulta.texto">
			</label>
        <button ng-click="consultar()" class="btn btn-large animate black waves-effect waves-light col s12" type="submit" name="action">
          Buscar!
		  	</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr class="item" data-ng-repeat="alimento in alimentos">
      <td><a href="/alimento/{{alimento.id}}">{{alimento.descricao}}</a></td>
    </tr>
  </tbody>
</table>